{% extends 'explorer/base.html' %}
{% load staticfiles %}

{% block title %}About{% endblock %}

{% block css_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'explorer/css/pages.css' %}">
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">About the Sound Health Explorer</h1>
        <!--<p class="lead blog-description"></p>-->
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Understanding the Health of Long Island Sound</h2>

            <p>Save the Sound launched the Sound Health Explorer in 2015 as a tool to increase our understanding of water quality conditions in Long Island Sound and to activate local and regional solutions to improve those conditions. We are striving to make the available water quality data accessible to and understandable by members of the public. Without access to reliable data, water pollution will remain a mystery subject to speculation, or worse, inaction.</p>
            <p>Empowered with data, we urge everyone who loves Long Island Sound to educate themselves on their local water quality conditions and local sources of water pollution, and focus on the important task of eliminating those sources and preserving the health of our beloved Sound.</p>
            <h3>Phase 1: Beaches</h3>
            <p>The first iteration of the Sound Health Explorer focuses on the health of our coastal beaches and the bacterial pollution that leads to beach closures and water quality degradation. We have paired the bacterial data with other datasets that further characterize our waterfronts and may assist in identifying contributors to local pollution problems.</p>
            <p>Rainfall is also featured on the site, allowing us to see which locations suffer from bacterial contamination as a result of wet weather overflows and runoff, and which locations suffer bacterial contamination in dry weather too. Dry weather contamination points to a very local source of fecal pollution. Wet weather contamination is typically associated with fecal pollution delivered by contaminated stormwater, a local tributary, and/or overflowing sanitary systems in the immediate area (i.e. failing septic systems and cesspools or leaking municipal sewer lines).</p>
            <p><a href="{% url 'findingssolutions' %}">Findings & Solutions</a> shares findings from the Explorer and strategies for reducing water pollution.</p>
            <p><a href="{% static 'explorer/pdfs/Recreational_Waterborne_Illnesses.pdf' %}">Common Waterborne Illnesses</a> (PDF; U.S. Center for Disease Control)</p>
            <h3>Phase 2: Hypoxia, Nitrogen & More</h3>
            <p>We'll continue building the Sound Health Explorer. The next major update scheduled for 2016 will focus on telling the story of nitrogen pollution and hypoxic conditions in the Sound. Save the Sound is working with partners who are studying low oxygen levels (hypoxia), algal blooms, and the pollutants that create them. Using the best available data we will share what is known about these conditions with a focus on local water quality along our shorelines and in bays and harbors so each community can understand and focus on their role in tackling this Sound-wide threat.</p>
            <p>This website is intended to share the best and most recent available data from around the Sound with the public. We will be adding more features to showcase data from more groups, including groups that focus on smaller regions within the Sound.</p>
            <p><a href="http://www.ctenvironment.org/#!emails-alerts/cy1" target="_blank">Sign up for our mailing list</a> and be the first to hear about new features and data on the Sound Health Explorer as they go live.</p>
            <h2>Save the Sound</h2>
            <p>Save the Sound is a bi-state program of Connecticut Fund for the Environment with an established 40-year track record of restoring and protecting the waters and shorelines of the Sound. From its offices in New Haven and Mamaroneck, Save the Sound works for a cleaner, healthier, and more vibrant Long Island Sound where humans and marine life can prosper year-round. Our success is based on scientific knowledge, legal expertise, and thousands of ordinary people teaming up achieve results that benefit our environment for current and future generations.</p>
            <p>Support our mission by <a href="http://www.ctenvironment.org/#!ways-to-give/c1n6r" target="_blank">becoming a member</a> and <a href="http://www.ctenvironment.org/#!emails-alerts/cy1" target="_blank">joining our email network</a> today.</p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Learn More</h4>
            <ol class="list-unstyled">
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'datasources' %}">Data Sources</a></li>
              <li><a href="{% url 'criteriascoring' %}">Criteria & Scoring</a></li>
              <li><a href="{% url 'findingssolutions' %}">Findings & Solutions</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4><a href="{% url 'index' %}">Back to the Sound Health Explorer</a></h4>
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


{% endblock %}


{% block modal_block %}
{% endblock %}

{% block js_block %}
{% endblock %}


	
	

