{% extends 'explorer/base.html' %}
{% load staticfiles %}
{% load wagtailcore_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block css_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'explorer/css/pages.css' %}">
{% endblock %}

{% block head_js_block %}
{% endblock %}
	

{% block content %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ page.title }}</h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            {{ page.body|richtext }}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module">
            <h4>Learn More</h4>
            <ol class="list-unstyled">
              <li><a href="/pages/about/">About</a></li>
              <li><a href="/pages/contact-us/">Contact</a></li>
              <li><a href="/pages/data-sources/">Data Sources</a></li>
              <li><a href="/pages/criteria-scoring/">Criteria & Scoring</a></li>
              <li><a href="/pages/findings-solutions/">Findings & Solutions</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

  <!-- Footer -->
  <footer>
    <p class="text-center">Copyright &copy; <a href="http://ctenvironment.org/">Connecticut Fund for the Environment</a> {% now "Y" %}</p>
  </footer>

{% endblock %}


{% block modal_block %}
{% endblock %}

{% block js_block %}
<script type="text/javascript">
  $(document).ready(function(){
    $('a[href^="http://"]').attr('target', '_blank');
    $('a[href^="https://"]').attr('target', '_blank');
  });
</script>
{% endblock %}


	
	

